fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic
python-multipart
docx2txt
python-docx
docxtpl==0.16.7
mammoth==1.12.1
python-docx==1.1.2
